* {
    background: #1e1e2e;
    foreground: #cdd6f4;
    selected-background: #89b4fa;
    selected-foreground: #1e1e2e;
    font: "JetBrains Mono Nerd Font 12";
}

window {
    width: 30%;
    location: center;
    border: 2px;
    height:20%;
    border-color: #89b4fa;
    padding: 20;
}

listview {
    columns: 2;
    spacing: 10;
    dynamic: false;
}

element-icon {
    size: 1.2em;
}
